streamlit>=1.32
streamlit-javascript
Pillow
pandas
numpy
requests
openai
transformers
gtts
pydub
python-multipart
PyPDF2
docx2txt
opencv-python
SpeechRecognition
soundfile
matplotlib
google-cloud-texttospeech
markdown
